.signup-container {
  min-height: 100vh;
  background-color: #121212; /* Dark base background */
  padding: 2rem;
}

.signup-box {
  width: 100%;
  max-width: 960px;
  background-color: #1e1e1e;
}

.signup-left {
  background-color: #000;
  flex: 1;
  text-align: center;
  padding: 3rem;
}

.signup-right {
  flex: 1;
  padding: 2rem;
}
